<div class="d-flex flex-column container">
  <h1 class="text-center text-primary border-bottom">Rock Paper Scissor </h1>
  <div class="w-100 d-flex mt-5">
    <div class="w-50 border d-flex flex-column p-5 user-section">
      <h4 class="text-center">User {{hasUserWon ? 'Won' : ''}}</h4>
      <button type="button" class="btn btn-outline-primary" (click)="onUserSelection(1)" [ngClass]="{'disabled-selection': this.userSelected, 'active': this.userSelected === 1}">Rock<i class="fas ml-3 fa-hand-rock"></i></button>
      <button type="button" class="btn btn-outline-primary my-4" (click)="onUserSelection(2)" [ngClass]="{'disabled-selection': this.userSelected, 'active': this.userSelected === 2}">Paper<i class="fas ml-3 fa-hand-paper"></i></button>
      <button type="button" class="btn btn-outline-primary" (click)="onUserSelection(3)" [ngClass]="{'disabled-selection': this.userSelected, 'active': this.userSelected === 3}">Scissor<i class="fas ml-3 fa-hand-scissors"></i></button>
    </div>
    <div class="w-50 border d-flex flex-column p-5">
      <h4 class="text-center">Computer {{hasSystemWon ? 'Won' : ''}}</h4>
      <button type="button" class="btn btn-outline-primary" [ngClass]="{'disabled-selection': this.systemSelected, 'active': this.systemSelected === 1}">Rock<i class="fas ml-3 fa-hand-rock"></i></button>
      <button type="button" class="btn btn-outline-primary my-4" [ngClass]="{'disabled-selection': this.systemSelected, 'active': this.systemSelected === 2}">Paper<i class="fas ml-3 fa-hand-paper"></i></button>
      <button type="button" class="btn btn-outline-primary" [ngClass]="{'disabled-selection': this.systemSelected, 'active': this.systemSelected === 3}">Scissor<i class="fas ml-3 fa-hand-scissors"></i></button>
    </div>
  </div>
  <div class="d-flex mt-5 w-100">
    <div class="d-flex flex-column w-50">
        <button class="btn btn-success px-5 my-1" (click)="onReplay()">Play Again</button>
        <button class="btn btn-warning px-5 my-1" (click)="onReplay(true)">Reset</button>
    </div>
    <div *ngIf="userScore || systemScore" class="d-flex w-50">
      <div class="d-flex flex-column w-50 text-center"> 
        <h4>User</h4>
        <h4 class="fs-2" [ngClass]="{'text-success': userScore > systemScore, 'text-warning': userScore < systemScore}">{{userScore}}</h4>
      </div>
      <div class="d-flex flex-column w-50 text-center"> 
        <h4>System</h4>
        <h4 class="fs-2" [ngClass]="{'text-success': systemScore > userScore, 'text-warning': systemScore < userScore}">{{systemScore}}</h4>
      </div>
    </div>
  </div>
</div>  